/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  header {
    text-align: center;
    padding: 20px;
  }
  
  header h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 10px;
  }
  
  header p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 10px 0;
  }
  
  /* Form styles */
  form {
    margin: 20px auto;
    width: 60%;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
  }
  
  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  
  legend {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }
  
  /* Contact styles */
  h3 {
    text-align: center;
    margin: 30px 0;
  }
  
  p {
    text-align: justify;
    margin-bottom: 20px;
  }
  
  /* Additional styles */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  